<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventory Management</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/sales_analysis.css">
    </head>
    <body>
        <header id="non-user">
            <nav>
                <div class="nav-left">
                    <a href="Home" class="logo">Vendora</a>
                </div>

                <div class="nav-right">
                    <a href="Sign_Up" class="btn btn-signup" id="signup-btn">Sign Up</a>
                    <a href="#" class="btn btn-login" id="user-action-btn">Login</a>

                    <div id="loginModal" class="modal">
                        <div class="modal-content">
                            <span class="close" id="modal-close-btn">&times;</span>
                                
                            <form class="login-form" id="login-modal-form"> 
                                <h2 style="color: black;">Welcome Back!</h2>

                                <div class="input-group">
                                    <input type="email" id="login-email" required placeholder="--------@-------">
                                    <label for="login-phone">Email Id</label> </div>

                                <div class="input-group">
                                    <input type="password" id="login-password" placeholder="••••••••" required>
                                    <label for="login-password">Password</label>
                                </div>

                                <button type="submit" class="btn btn-submit">Login</button>
                                    
                                <p class="signup-prompt">
                                    Don't have an account? 
                                    <a href="Sign_Up">Sign Up</a> 
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <header id="user"style="display: none;">
            <nav>
                <div class="nav-left">
                    <div class="hamburger" id="hamburger-btn">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <a href="Main" class="logo">Vendora</a>
                    <ul class="nav-links">
                        <li><a href="Inventory_Management" target="_self">Inventory Management</a></li>
                        <li><a href="Sales_Management" target="_self">Sales Management</a></li>
                        <li><a href="Sales_Analysis" target="_self">Sales Analysis</a></li>
                        <li id="alt-med" style="display: none;"><a href="Alternative_Medicine_Advisor" target="_self">Alternative Medicine Advisor</a></li>
                        <li><a href="Home" target="_self">About</a></li>
                    </ul>
                </div>

                <div class="nav-right">
                    <div class="notification-wrapper" style="position: relative; cursor: pointer;">
                        <a href="#" id="notification-btn" class="notification-link">
                            <img src="/static/Notification_icon.png" alt="Notification">
                        </a>
                        <span id="notification-dot" class="notification-dot" style="display: none;"></span>
                    </div>

                    <div id="notificationModal" class="modal">
                        <div class="modal-content notification-content">
                            <span class="close" id="notification-close-btn">&times;</span>
                            <h2>
                                Alerts
                            </h2>
                            
                            <div id="notification-list">
                                <p>Loading...</p>
                            </div>

                            <button id="mark-read-btn" class="btn btn-submit" style="background-color: #5bc0de; margin-top: 15px;">
                                Mark as Read
                            </button>
                        </div>
                    </div>
                    <a href="#" class="btn btn-logout" id="logout-btn">Logout</a>
                </div>
            </nav>

            <div class="mobile-nav" id="mobile-nav">
                <ul class="nav-links">
                    <li><a href="Inventory_Management" target="_self">Inventory Management</a></li>
                    <li><a href="Sales_Management" target="_self">Sales Management</a></li>
                    <li><a href="Sales_Analysis" target="_self">Sales Analysis</a></li>
                    <li id="alt-med" style="display: none;"><a href="Alternative_Medicine_Advisor" target="_self">Alternative Medicine Advisor</a></li>
                    <li><a href="Home" target="_self">About</a></li>
                </ul>
            </div>
        </header>

        <h1 class="title_h1">Sales Analysis</h1>

        <div class="analysis-container">
            
            <div class="tabs">
                <button id="tab-trends" class="tab-btn active">Sales Trends</button>
                <button id="tab-statement" class="tab-btn">Profit/Loss Statement</button>
            </div>

            <div class="form-area">
                
                <div id="trends-view">
                    Trends
                </div>

                <div id="statement-view" style="display: none;">
                    Statement
                </div>

            </div>
        </div>

        <script src="/static/header.js"></script>
        <script src="/static/sales_analysis.js"></script>
    </body>
</html>